<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="alternate" type="application/atom+xml" href="http://localhost:4000/atom.xml" title="Philip Potter's blog">
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1>Philip Potter</h1>
  </div><div class="row">
{{ content }}
</div>
</div>
</body>
</html>
