---
layout: default
---
<nav class="col-md-3">
<ul class="nav nav-tabs nav-stacked">
<li><a href="/">Home</a></li>
<li><a href="https://github.com/philandstuff/www.philandstuff.com/tree/master/{{ page.path }}">
Source to this page</a></li>
<li><a href="/atom.xml">Feed</a></li>
</ul>
{% for tag in page.tags %}
<span class="label">{{ tag }}</span>
{% endfor %}
</nav>
<main class="col-md-9">
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<p class="muted">Posted on {{ page.date | date_to_long_string }}</p>
{{ content }}
</main>
