---
layout: default
---
<div class="span8">
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<p class="muted">Posted on {{ page.date | date_to_long_string }}</p>
{{ content }}
</div>
<div class="span3 offset1">
<nav>
<ul class="nav nav-tabs nav-stacked">
<li><a href="/">Home</a></li>
<li><a href="https://github.com/philandstuff/www.philandstuff.com/tree/master/{{ page.path }}">
Source to this page</a></li>
</ul>
</nav>
{% for tag in page.tags %}
<span class="label">{{ tag }}</span>
{% endfor %}
</div>
